<%include partials/header%>
<!DOCTYPE html>
<html>
    <head>
        <title>Stree Rakshak</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>

    <body id="landing" class="container" style="background-color:#434a52">
        

    <div id="landing-header">

     
    

    <h1 style="text-align: center; font-size: 150px; font-family: georgia; margin-top: 250px;color:#fff;">Stree Rakshak </h1>

		
<center> 
<a href="/login" class="ui secondary button large" style="text-align: center;background-color:#ea4c88">Login</a>
  <a href="/signup" class="ui secondary button large" style="text-align: center;background-color:#ea4c88">Sign Up</a>
</center>
      <br>
      <br>
</div>
                        
 		
    </div>
    <style>
      :root {
    background-color: #434a52;
  }
    </style>

</body>
</html>